# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Google Drive\Faculdade\FIAP\MBA\Full Stack Developer (Microservice, Cloud e Iot)\1 semestre\Microservices Development\Trabalho 2\arremate\ms-produto\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
